html {
    height: 100%;
}

body {
    height: 100%;
    background-color:#000000;

}
a {
    text-decoration:underline; 
   padding:50px;
    }

.aboutMain {
    height: 150%;
    display:flex; 
    justify-content:center;
}
.header{
    color:#ffc900;
    font-size:100px;
}
p{
    color:white;
}
